.vercel

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry
poetry.lock

# Virtual environments
.venv/
venv/
ENV/

# Environment files
.env
!.env.example
.env.local
.env.prod
.azure.env

# VSCode
.vscode/

# OS files
.DS_Store
